body {
	background-color: #5a5a5a;
}

html {
	overflow-y: scroll;
}

.clear {
	clear: both;
}

.white {
	color: #FFFFFF;
}

.center {
	text-align: center;
}

.left {
	float: left;
}

.right {
	float: right;
}

.hidden {
	display: none;
}

.disabled {
	opacity: 0.5;
}
