.logs {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	float: left;
	width: 350px;
	padding: 15px;
	background-color: grey;
	line-height: 120%;
}

.logs a {
	color: #00E;
}

.logs a:visited {
	color: #551A8B;
}

.logs_title {
	margin: 0 0 20px 0;
}

.basic_wrapper {
	background-color: grey;
	padding: 30px;
}

.wrapper {
	background-color: grey;
	padding: 30px;
	margin-left: 450px;
}

.strip {
	width: 640px;
	margin-left: auto;
	margin-right: auto;
}

.strip td {
	background-color: #EEEEEE;
}

.strip tr:last-child td {
	background-color: #EEEEEE;
	padding-bottom: 15px;
}

.title {
	font-weight: bold;
	font-family: courier, monospace;
	color: #000000;
	font-size: 32px;
	padding: 0 25px;
}

.text {
	font-weight: bold;
	font-family: courier, monospace;
	color: #000000;
	font-size: 15px;
	line-height: 130%;
	padding: 0 25px;
}

.next {
	font-weight: bold;
	font-family: courier, monospace;
	font-size: 24px;
	text-align: left;
	padding: 25px 25px 0 25px;
}

.controls {
	font-size: 11px;
	padding: 30px 10px 10px 10px;
}

.spoiler {
	border: 1px dashed gray;
}

.spoiler_text {
	margin-top: 10px;
	text-align: left;
	padding: 0 15px;
}
