{% extends "base.html" %}

{% block content %}
{% include "user_menu.html" %}
<div class="basic_wrapper">
	<div class="author">
		Ник: Безымянный<br />
		Сайт: <a href="http://4otaku.ru">4otaku.ru</a><br />
		e-mail: <a href="mailto:admin@4otaku.ru">admin@4otaku.ru</a><br />
		Должность: Отвественный за сценарий и сеттинг, вебмастер.<br />
		Персонажи: Вильям Аштрей
	</div>
	<hr/>
	<div class="author">
		Ник: dsp2003<br />
		Сайт: <a href="http://wks.arai-kibou.ru">wks.arai-kibou.ru</a><br />
		e-mail: <a href="mailto:winkillerstudio@gmail.com">winkillerstudio@gmail.com</a><br />
		Должность: Редактор и художник.<br />
		Персонажи: Роберт Хаксли
	</div>
	<hr/>
	<div class="author">
		Ник: artificallyIntelligent<br />
		e-mail: <a href="mailto:niksaak@gmail.com">niksaak@gmail.com</a><br />
		Должность: Пиксель-арт и фоновые рисунки.<br />
		Персонажи: Иштванна Самар
	</div>
</div>
{% endblock %}
