{% extends "base.html" %}

{% block content %}
{% include "user_menu.html" %}
<div class="basic_wrapper">
	<div class="question">В: Что такое LoopBreak?</div>
	<div class="answer">
		О: LoopBreak - это проект веб-комикса в стиле interactive fiction,
		созданный русскоязычными энтузиастами по мотивам вселенной комикса
		<a href="http://www.mspaintadventures.com/?s=6">Homestuck</a> за авторством Andrew Hussie.
		В сети существует множество англоязычных
		<a href="http://mspfanventures.com/">фанатских веб-комиксов по вселенной Homestuck</a>.
		Мы решили, что ни чем не хуже и создаём свой, но уже на русском языке.
	</div>
	<hr />
	<div class="question">В: Я могу присоединиться или дать игрокам-авторам команду?</div>
	<div class="answer">
		О: Да и да. Обращайтесь в нашу Jabber-конференцию (xmpp:homestuck@room.4otaku.ru).
		Мы нуждаемся в хороших авторах и художниках с богатой фантазией,
		однако советуем придерживаться стиля оригинала.
	</div>
	<hr />
	<div class="question">В: Как осуществляется работа над проектом?</div>
	<div class="answer">
		О: Игроки-авторы собираются и обсуждают дальнейшее развитие сюжета,
		пишут логи бесед от имени персонажей, а затем текущий ответственный редактор
		правит все шероховатости и последовательно добавляет стрипы.
		Ответственный художник собирает иллюстрации (и анимации) из заготовок
		других игроков и вставляет в требуемые стрипы.
	</div>
</div>
{% endblock %}
